body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*Section rules to give the page structure */

.section {
    min-height: 100vh;
}

.half-section {
    min-height: 50vh;
}

.default {
    text-align: center;
    padding: 10% 20%;
    background-color: #d9d9d9;
    color: #00356b;
    text-shadow: .3px .3px .3px #002244;
}

.inverse {
    text-align: center;
    padding: 10% 20%;
    background-color: #00356b;
    color: #d9d9d9;
    text-shadow: .5px .5px .5px #a7a7a7;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/*Heading and list styling */

h1 {
    font-size: 40px;
}

li {
    display: inline;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #dddddd;
    background: rgb(0, 53, 107);
}

li a:hover {
    background: rgb(0, 18, 44);
    background: linear-gradient(0deg, rgb(106, 106, 107) 0%, rgb(255, 255, 255) 100%);
    color: rgb(0, 53, 107);
    border: solid rgb(124, 124, 133);
}

hr {
    border-top: 8px solid #00356b;
    border-radius: 5px;
}

/* Navigation and Introduction */

#topNav {
    background-color: #00356b;
    display: block;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: xx-large;
    z-index: 1;
}

#introduction {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    max-width: 100%;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
}

strong {
    font-size: 81px;
}

.sectionTitle {
    font-size: 55px;
}

/* ---- particles.js container ---- */


/* About me  */

#about p {
    font-size: 30px;
    line-height: 45px;
    text-align: left;
}

#experience {
    position: relative;
     padding: 0px 10px;
}

#experience h1 {
    padding: 50px 0px;
}

#experience p {
    font-size: 50px;
}

/* Experience images */

#experience img {
    padding: 0px 25px;
    margin: 0px 0px 45px;
    transition: all .2s ease-in-out;
}

#experience img:hover {
   -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



/* Projects */

.flex-container {
    display: grid;
    grid-template-columns: 80% 80%;
    /*Been messing with how to display the projects together, with grid I can display side by side but they don't line up properly */
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    display: flex;
    flex-flow: column;
    padding: 30px 0px;
    margin: 15px 0px;
}

#projects img {
    margin: 30px 0px;
    border: 6px solid;
    border-color: #00356b;
}

#projects h2 {
    font-size: 18px;
}

#projects p {
    padding: 20px 0px;
    line-height: 35px;
    font-size: 18px;
}

/*Hover info class goes here*/

#projects li {
    padding: 30px 20px;
}

/* Contact */

#contact h2 {
    font-size: 30px;
    line-height: 50px;
}

#contact img {
    padding: 50px 30px 0px;
}

#contact a {
    color: white;
}

/* Resume */

#resume img {
    padding: 50px 0px;
}

@media (max-width: 1200px) {
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 725px) {
    #topNav li {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }
    #topNav {
        padding: 0px 2px;
    }
}

