*{
    text-align: center;
}
table.otherlinks{
    width: 350px;
    text-align: left; !important
    height: 5px;
    font-size: small;
}
div.logo{
    text-align: center;
    padding: 50px;
}
div.signin{
    text-align: right; !important
    height: 5px;
}
img.signin{
    width: 50px;
    height: 50px;
}
input.search{
    width: 350px;
    height: 30px;
    border-radius: 8mm;
}
div.language{
    font-size: small;
    padding: 20px;
}
span.lang{
    font-weight: bolder; !important
}